
	/* Font Settings */
h1 {
	font-size: var(--size-3);
}

h2{
	background-color: var(--light-green);
}

	/* Nav Type Squares */

#square-6 {
	background-color: var(--dark-green);
	transform: rotate(-5deg);
}

#square-9 {
	background-color: var(--dark-pink);
	transform: rotate(5deg);
}

	/* Grid Settings */

	
	/* Grid Styles Heading */
	
#header-1{
	background-color: var(--dark-orange);
	transform: rotate(5deg);
	border: 1px var(--black) solid;
}
	
#header-2{
	background-color: var(--dark-cobalt);
	transform: rotate(-5deg);
	border: 1px var(--black) solid;
}
	
#header-3{
	background-color: var(--dark-pink);
	transform: rotate(5deg);
	border: 1px var(--black) solid;
}

#header-4{
	background-color: var(--dark-orange);
	transform: rotate(-5deg);
	border: 1px var(--black) solid;
}

#header-5{
	background-color: var(--dark-cobalt);
	transform: rotate(5deg);
	border: 1px var(--black) solid;
}

#heading-line-2{
	padding-top: 0px;
}

/* Grid Styles Body */
	
#quotation:nth-child(6){
	background-color: var(--light-green);
	transform: rotate(-10deg);
	transform-origin: center;
	top: 10px;
	animation: rotate 4s ease-in-out infinite;
}
	
@keyframes rotate {
	0% {
	transform: rotate(0deg);
	}
	50% {
	transform: rotate(-15deg);
	}
	100% {
	transform: rotate(0deg);
	}
}

#quotation:nth-child(7){
	background-color: var(--light-pink);
	transform: rotate(15deg);
	transform-origin: center;
}
	
#quotation:nth-child(13){
	background-color: var(--light-green);
	transform: rotate(-10deg);
	transform-origin: center;
}
	
#quotation:nth-child(14){
	background-color: var(--light-green);
	transform: rotate(10deg);
	transform-origin: center;
}
	
#quotation:nth-child(15){
	background-color: var(--light-pink);
	transform: rotate(-10deg);
	transform-origin: center;
}

#desktop-only{
	display: none;
}

	/* Nav Settings */
	
	
	/* Info Settings (Below Header) */

	
	/* Media Queries */
	
@media (min-width: 1080px) {

	h1 {
		font-size: var(--size-8);
	}

		/* Grid Styles Heading */

	section.heading{
		height: 100%;
	}

	#header-1{
		transform: rotate(20deg);
		}
		
	#header-2{
		transform: rotate(-15deg);
	}
			
	#header-3{
		transform: rotate(20deg);
		}

		/* Grid Styles Body */

	#quotation{
		grid-column: span 4;
	}
	
	.basic:nth-child(12){
		grid-column: span 8;
	}
	
	.body-text{
		justify-self: end;
	}
	
	.horizontal{
		grid-column: span 4;
	}

	#header-2{
		transform: rotate(-5deg);
		position: relative;
		top: 40px;
	}

	#header-3{
		position: relative;
		top: 200px;
		left: -680px;
	}

	#header-4{
		position: relative;
		top: 240px;
		left: -680px;
		transform: rotate(-5deg);
	}
	
	#header-5{
		position: relative;
		top: 400px;
		left: -1100px;
		transform: rotate(5deg);
	}

	#desktop-only{
		display: block;
	}
	
}