	/* Font Settings */

h1{
	font-size: calc(var(--size-3)*1.4);
}

.small-h1 {
	font-size: calc(var(--size-3)*1.1);
}

h2{
	background-color: var(--light-green);
}

	/* Nav Type Squares */

#square-6 {
	background-color: var(--dark-green);
	transform: rotate(-5deg);
}

#square-9 {
	background-color: var(--light-yellow);
	transform: rotate(5deg);
}

	/* Grid Settings */

	
	/* Grid Styles Heading */

@keyframes rotate-left{
	0% {
	transform: rotate(-2deg);
	}
	50% {
	transform: rotate(-5deg);
	}
	100% {
	transform: rotate(-2deg);
	}
}

@keyframes rotate-right {
	0% {
	transform: rotate(2deg);
	}
	50% {
	transform: rotate(5deg);
	}
	100% {
	transform: rotate(2deg);
	}
}
	
#header-1{
	background-color: var(--dark-green);
	transform: rotate(5deg);
	border: 1px var(--black) solid;
	animation: rotate-left 4s ease-in-out infinite;
}
	
#header-2{
	background-color: var(--dark-yellow);
	transform: rotate(-5deg);
	border: 1px var(--black) solid;
	animation: rotate-right 4s ease-in-out infinite;
}
	
#header-3{
	background-color: var(--dark-pink);
	transform: rotate(5deg);
	border: 1px var(--black) solid;
	animation: rotate-left 4s ease-in-out infinite;
}

#heading-line-2{
	padding-top: 0px;
}

/* Grid Styles Body */
	
#quotation:nth-child(6){
	background-color: var(--light-green);
	transform: rotate(-10deg);
	transform-origin: center;
	top: 10px;
}

#quotation:nth-child(7){
	background-color: var(--light-pink);
	transform: rotate(15deg);
	transform-origin: center;
}
	
#quotation:nth-child(13){
	background-color: var(--light-green);
	transform: rotate(-10deg);
	transform-origin: center;
}
	
#quotation:nth-child(14){
	background-color: var(--light-green);
	transform: rotate(10deg);
	transform-origin: center;
}
	
#quotation:nth-child(15){
	background-color: var(--light-pink);
	transform: rotate(-10deg);
	transform-origin: center;
}

#desktop-only{
	display: none;
}

	/* Nav Settings */
	
	/* Info Settings (Below Header) */
	
	/* Media Queries */

@media (min-width: 768px) {

	h1{
		font-size: var(--size-7);
	}

	.small-h1 {
		font-size: var(--size-6);
	}

}
	
@media (min-width: 1080px) {

		/* Font Styles  */

	h1{
	font-size: var(--size-8);
	}	

	.small-h1 {
		font-size: var(--size-7);
	}

		/* Grid Styles Heading */

	section.heading{
		height: 100%;
	}

	#header-1{
		transform: rotate(3deg);
		}
		
	#header-2{
		transform: rotate(-3deg);
	}
			
	#header-3{
		transform: rotate(3deg);
		}

		/* Grid Styles Body */

	#quotation{
		grid-column: span 4;
	}
	
	.basic:nth-child(12){
		grid-column: span 8;
	}
	
	.body-text{
		justify-self: end;
	}
	
	.horizontal{
		grid-column: span 4;
	}

	#desktop-only{
		display: block;
	}
	
}

@media (min-width: 1500px) {

	h1{
		font-size: var(--size-10);
	}

	.small-h1 {
		font-size: var(--size-9);
	}

}