
/* Variables */

:root {

	/* Sizes */

	--size-1: 16px;
	--size-2: 24px;
	--size-3: 32px;
	--size-4: 48px;
	--size-5: 64px;
	--size-6: 80px;
	--size-7: 96px;
	--size-8: 112px;
	--size-9: 144px;
	--size-10: 160px;

	/* Font */

	--font-family-1: "Caveat", cursive;
	--font-family-2: "mono45-headline", monospace;
	--font-family-3: "hwt-mardell", sans-serif;
	--font-family-4: "cofo-sans-mono-variable", sans-serif;
	--font-family-5: "nitti-typewriter-cameo", sans-serif;
	--font-weight-regular: 400;
	--font-weight-bold: 700;

	/* Color */

	--dark-pink: #D86D79;
	--light-pink: #ED9BA4;
	--dark-orange: #D15116;
	--light-orange: #F2925C;
	--dark-blue: #5BA5DF;
	--light-blue: #9CCFF8;
	--light-chartreuse: #E8D01B;
	--dark-chartreuse: #C3AC01;
	--light-green: #248D4B;
	--dark-green: #036327;
	--light-purple: #B2ACE7;
	--dark-purple: #7A73BC;
	--light-yellow: #FAC546;
	--dark-yellow: #EFA901;
	--light-red: #ED605C;
	--dark-red: #DB302A;
	--light-navy: #6E91F2;
	--dark-navy: #3551CB;
	--light-grey: #e3e3e3;
	--dark-grey: #ADADAC;
	--black: #262426;
	--white: #fafafa;
}

	/* Font Settings */

h1{
	font-family: var(--font-family-3);
	font-weight: var(--font-weight-bold);
	color: var(--black);
	font-size: var(--size-5);
	text-transform: uppercase;
	text-align: center;
}

h2{
	font-family: var(--font-family-2);
	font-weight: var(--font-weight-regular);
	color: var(--black);
	font-size: var(--size-2);
	display: inline;
	background-color: var(--light-pink);
	padding: var(--size-1);
	border: 1px var(--black) solid;
	text-wrap: pretty;
}

h3{
	font-family: var(--font-family-5);
	font-weight: var(--font-weight-bold);
	color: var(--black);
	font-size: var(--size-2);
	line-height: 2ch;
	text-wrap: pretty;
}

p{
	font-family: var(--font-family-4);
	color: var(--black);
	line-height: var(--size-2);
	text-wrap: pretty;
}

blockquote{
	font-family: var(--font-family-1);
	font-size: calc(var(--size-2)*1.3);
	text-align: center;
	color: var(--black);
	line-height: calc(var(--size-2)*1.5);
	padding-top: var(--size-4);
	text-wrap: pretty;
}

cite{
	font-family: var(--font-family-1);
	color: var(--black);
	text-align: center;
	display: flex;
	justify-content: center;
	padding-top: var(--size-1);
	padding-bottom: var(--size-1);
}

#quote{
	font-family: var(--font-family-1);
	font-size: var(--size-6);	
	font-weight: 200;
	text-align: center;
}

/* Grid Settings */

body{
	font-size: calc(var(--size-1)*1.1);
	max-width: 1920px;
}

.header-container {
	padding: var(--size-2);
	justify-content: center;
}

/* Grid Styles */

article{
	background-color: var(--light-grey);
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--size-2);
	padding: var(--size-2);
	overflow-x: hidden;
}

.basic{
	border: 1px var(--black) solid;
	text-align: left;
	padding: var(--size-2);
}

.body-text{
	border-left: 1px var(--black) solid;
	padding-left: var(--size-2);
}

.empty{
	height: var(--size-4);
}

/* Nav Settings */

nav{
	background-color: var(--white);
	display: flex;
	justify-content: space-between;
	border-bottom: 1px var(--black) solid;
	position: sticky;
	top: 0;
	z-index: 1000;
}

.nav-text{
	font-family: var(--font-family-1);
}

.nav-items {
	padding: var(--size-1);
	font-size: var(--size-1);
	text-align: center;
	color: var(--black);
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
	position: relative;
	overflow: hidden;
}

.nav-items:hover{
	background-color: var(--light-grey);
}

/* Nav Visuals */

	/* Square General */

.square-container{
	width: var(--size-5);
	height: var(--size-6);
}

.square {
	width: var(--size-4);
	height: var(--size-4);
}

	/* Overall Squares */

#square-1 {
	border: 1px var(--black) solid;
	background-color: var(--white);
	position: relative;
	top: 16px;
	left: 16px;
	z-index: 1;
}

#square-2 {
	background-color: var(--white);
	border: 1px var(--black) solid;
	position: relative;
	bottom: 40px;
	left: 8px;
	z-index: 2;
}

#square-3 {
	border: 1px var(--black) solid;
	background-color: var(--white);
	text-align: center;
	line-height: var(--size-4);
	position: relative;
	bottom: 96px;
	z-index: 3;
}

	/* Design Squares */

#square-4 {
	border: 1px var(--black) solid;
	background-color: var(--white);
	position: relative;
	bottom: 48px;
	z-index: 3;
}

#square-7 {
	border: 1px var(--black) solid;
	background-color: var(--white);
	position: relative;
	top: 16px;
	left: 16px;
	z-index: 1;
}

	/* Color Squares */

#square-5 {
	border: 1px var(--black) solid;
	background-color: var(--light-blue);
	z-index: 2;
	position: relative;
	bottom: 48px;
	z-index: 3;
}

#square-8 {
	border: 1px var(--black) solid;
	background-color: var(--light-white);
	position: relative;
	left: 16px;
	top: 16px;
	z-index: 1;
}

	/* Type Squares */

#square-6 {
	border: 1px var(--black) solid;
	background-color: var(--white);
	text-align: center;
	line-height: var(--size-4);
	position: relative;
	bottom: 48px;
	z-index: 3;
}

#square-9 {
	border: 1px var(--black) solid;
	background-color: var(--white);
	position: relative;
	top: 16px;
	left: 16px;
	z-index: 1;
}

#square-text {
	font-family: "EB Garamond", serif;
	font-weight: bold;
}

/* Info Settings (Below Header) */

#info ul {
	display: flex;
	justify-content: flex-start;
	gap: var(--size-1);
	align-items: center;
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: var(--font-family-1);
	font-size: var(--size-1);
	color: var(--black);
  }
  
.line {
	border: .75px var(--black) solid;
	flex-grow: 1;
}

	/* Media Queries */

@media (min-width: 768px) {

	h1{
		font-size: var(--size-7);
	}

}

@media (min-width: 1080px) {

	/* Body Grid Setting*/

	body {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}

	article {
		grid-column: span 10;
	}

	/* Nav Settings */

	nav{
		grid-column: span 2;
		border-right: 1px var(--black) solid;
		border-bottom: none;
		display: flex;
		justify-content: flex-start;
		flex-direction: column; 
	}

	.nav-items {
		font-size: var(--size-2);
		height: 180px;
	}

	/* Info Settings */

	#info {
		grid-column: span 12;
	}

	#info ul {
		font-size: var(--size-2);
	  }

	/* Article Grid Styles */
	
	article {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: var(--size-2);
		row-gap: var(--size-10);
		/* margin: 0 auto; */
		padding: var(--size-2);
	}

	.basic{
		padding: var(--size-3);
		grid-column: span 6;
	}

	.body-text{
		grid-column: span 8;
		border: 1px var(--black) solid;
		padding: var(--size-3);
	}

	/* Heading Grid Setting*/

	h1{
		font-size: var(--size-8);
	}

	.header-container{
		padding: var(--size-3);
	}

	.heading{
		grid-column: span 12;
		padding-top:  var(--size-6);
		display: flex;
		justify-content: flex-start;
	}

}

@media (min-width: 1500px) {

	h1{
		font-size: var(--size-10);
	}

}
