
	/* Font Settings */

	/* Grid Settings */
	
	/* Nav Design Squares */

#square-4 {
	background-color: var(--dark-red);
	transform: rotate(-5deg);
}

#square-7 {
	background-color: var(--dark-yellow);
	transform: rotate(5deg);
}

	/* Grid Styles Heading */
	
#header-1{
	background-color: var(--dark-yellow);
	transform: rotate(5deg);
	font-size: 200px;
	border: 1px var(--black) solid;
}
	
#header-2{
	background-color: var(--dark-red);
	transform: rotate(-5deg);
	border: 1px var(--black) solid;
}
	
#header-3{
	background-color: var(--dark-cobalt);
	transform: rotate(5deg);
	border: 1px var(--black) solid;
}

	/* Grid Styles Body */
	
#quotation:nth-child(6){
	background-color: var(--light-yellow);
	transform: rotate(-10deg);
	transform-origin: center;
	top: 10px;
	animation: rotate 4s ease-in-out infinite;
}

@keyframes rotate {
	0% {
	transform: rotate(0deg);
	}
	50% {
	transform: rotate(-15deg);
	}
	100% {
	transform: rotate(0deg);
	}
}

#quotation:nth-child(7){
	background-color: var(--light-red);
	transform: rotate(15deg);
	transform-origin: center;
}

#quotation:nth-child(14){
	background-color: var(--light-yellow);
	transform: rotate(-10deg);
	transform-origin: center;
	position: sticky;
	top: 10px;
}

#quotation:nth-child(15){
	background-color: var(--light-blue);
	transform: rotate(10deg);
	transform-origin: center;
	position: sticky;
	top: 10px;
}

#quotation:nth-child(16){
	background-color: var(--light-red);
	transform: rotate(-10deg);
	transform-origin: center;
	position: sticky;
	top: 10px;
}
	
	/* Nav Settings */
	

	/* Info Settings (Below Header) */

	
	/* Media Queries */
	
@media (min-width: 1080px) {

		/* Grid Styles Heading */

	#header-1{
		transform: rotate(20deg);
	}
		
	#header-2{
		transform: rotate(-15deg);
	}
		
	#header-3{
		transform: rotate(20deg);
	}

		/* Grid Styles Body */

	#quotation{
		grid-column: span 4;
	}

	.basic:nth-child(12){
		grid-column: span 8;
	}

	.body-text{
		justify-self: end;
	}

	.horizontal{
		grid-column: span 4;
	}

	#none{
		display: none;
	}
}