
	/* Font Settings */

#p-highlight-blue{
	color: var(--dark-cobalt)

}

#p-highlight-red{
	color: var(--dark-red)
}

#p-highlight-yellow{
	color: var(--dark-yellow)
}

h2{
	background-color: var(--light-yellow);
}

.h2-background-blue{
	background-color: var(--light-cobalt);
}
	/* Grid Settings */
	
	/* Nav Design Squares */

#square-4 {
	background-color: var(--dark-red);
	transform: rotate(-5deg);
}

#square-7 {
	background-color: var(--dark-cobalt);
	transform: rotate(5deg);
}

	/* Grid Styles Heading */

@keyframes rotate-left{
	0% {
	transform: rotate(-2deg);
	}
	50% {
	transform: rotate(-5deg);
	}
	100% {
	transform: rotate(-2deg);
	}
}

@keyframes rotate-right {
	0% {
	transform: rotate(2deg);
	}
	50% {
	transform: rotate(5deg);
	}
	100% {
	transform: rotate(2deg);
	}
}
	
#header-1{
	background-color: var(--dark-red);
	transform: rotate(5deg);
	font-size: 200px;
	border: 1px var(--black) solid;
	animation: rotate-right 4s ease-in-out infinite;
	font-family: var(--font-family-2);
}
	
#header-2{
	background-color: var(--dark-cobalt);
	transform: rotate(-5deg);
	border: 1px var(--black) solid;
	animation: rotate-left 4s ease-in-out infinite;
}
	
#header-3{
	background-color: var(--dark-yellow);
	transform: rotate(5deg);
	border: 1px var(--black) solid;
	animation: rotate-right 4s ease-in-out infinite;
}

	/* Grid Styles Body */
	
#quotation:nth-child(4){
	background-color: var(--light-yellow);
	transform: rotate(-10deg);
	transform-origin: center;
	top: 10px;
	max-height: fit-content;
	min-width: 350px;
}

#quotation:nth-child(5){
	background-color: var(--light-cobalt);
	transform: rotate(15deg);
	transform-origin: center;
}

#quotation:nth-child(6){
	background-color: var(--light-red);
	transform: rotate(-10deg);
	transform-origin: center;
	top: 10px;
	max-width: 350px;
}
	
	/* Nav Settings */
	

	/* Info Settings (Below Header) */

	
	/* Media Queries */
	
@media (min-width: 1080px) {

		/* Grid Styles Heading */


		/* Grid Styles Body */

	#quotation{
		grid-column: span 4;
	}

	.basic:nth-child(12){
		grid-column: span 8;
	}

	.body-text{
		justify-self: end;
		grid-column: span 7;
	}

	.horizontal{
		grid-column: span 4;
	}

	#none{
		display: none;
	}

	#colophon{
		grid-column: span 5;
		max-height: fit-content;
	}

	#colophon:nth-child(8){
		align-self: end;
	}

	#quotation:nth-child(6){
		position: sticky;
		left: 200px
	}

	#last-item{
		grid-column: 4/10;
	}
}