
/* Font Settings */

h1{
	transform: rotate(-90deg);
}

.design-link{
	font-family: var(--font-family-4);
	color: var(--dark-red);
	text-decoration: underline;
}

.color-link{
	font-family: var(--font-family-4);
	color: var(--dark-blue);
	text-decoration: underline;
}

.type-link{
	font-family: var(--font-family-4);
	color: var(--dark-yellow);
	text-decoration: underline;
}

.author-notes{
	font-style: italic;
}

.Book-title{
	font-weight: 600;
}

	/* h3 animation */

.rotating-text-1 {
	transition: transform 0.5s ease-in-out, color 0.5s ease-in-out; 
}

.rotating-text-1:hover {
	transform: rotate(5deg);
	color: var(--dark-red); 
}

.rotating-text-2 {
	transition: transform 0.5s ease-in-out, color 0.5s ease-in-out; 
}

.rotating-text-2:hover {
	transform: rotate(-5deg);
	color: var(--dark-blue); 
}

.rotating-text-3 {
	transition: transform 0.5s ease-in-out, color 0.5s ease-in-out; 
}

.rotating-text-3:hover {
	transform: rotate(5deg);
	color: var(--dark-yellow); 
}

	/* Nav Overall Squares */

#square-1 {
	background-color: var(--dark-red);
	transform: rotate(-5deg);
}
	
#square-2 {
	background-color: var(--dark-blue);
	transform: rotate(5deg);
}
	
#square-3 {
	border: 1px var(--black) solid;
	background-color: var(--dark-yellow);
	transform: rotate(-5deg);
	z-index: 3;
}

	/* Grid Settings */

.heading{
	display: flex;
	justify-items: center;
	grid-row: span 25;
	margin: 0 auto;
}
	
	/* Grid Styles Heading */
	
#header-1{
	background-color: var(--dark-red);
	transform: rotate(5deg);
	border: 1px var(--black) solid;
	display: flex; 
	justify-content: center;
	align-items: center;
	width: 100px;
	transition: transform 0.3s ease;
}

#header-1:hover{
	transform: rotate(-5deg);
}


#header-2{
	background-color: var(--dark-blue);
	transform: rotate(-5deg);
	border: 1px var(--black) solid;
	display: flex; 
	justify-content: center;
	align-items: center;
	width: 100px;
	transition: transform 0.3s ease;
}

#header-2:hover{
	transform: rotate(5deg);
}

#header-3{
	background-color: var(--dark-yellow);
	transform: rotate(5deg);
	border: 1px var(--black) solid;
	display: flex; 
	justify-content: center;
	align-items: center;
	width: 100px;
	transition: transform 0.3s ease;
}

#header-3:hover{
	transform: rotate(-5deg);
}

	/* Grid Styles Body */
	
/* .basic:nth-child(5){
	background-color: var(--light-blue);
	transform: rotate(-10deg);
	transform-origin: center;
	position: sticky;
	top: 10px;
}

.basic:nth-child(5):hover{
	transform: rotate(-15deg);
}

.basic:nth-child(9){
	background-color: var(--light-pink);
	transform: rotate(15deg);
	transform-origin: center;
}

.basic:nth-child(10){
	background-color: var(--light-orange);
	transform: rotate(-15deg);
	transform-origin: center;
}

.basic:nth-child(11){
	background-color: var(--light-blue);
	transform: rotate(15deg);
	transform-origin: center;
} */
	
	/* Nav Settings */
	

	/* Info Settings (Below Header) */

	
	/* Media Queries */

@media (min-width: 768px) {

	h1{
		font-size: var(--size-6);
	}

}
	
@media (min-width: 1080px) {

/* Heading Settings */

	#header-1{
		width: 300px;
	}
	
	#header-2{
		width: 300px;
	}
	
	#header-3{
		width: 300px;
	}

	.heading{
		display: flex;
		grid-row: span 2;
		height: 800px;
	}

/* Font Settings */

	h1{
		font-size: var(--size-8);
	}
	
	#landing-h3{
		font-size: var(--size-3);
	}

	#landing-body{
		font-size: calc(var(--size-1)*1.3);
		line-height: var(--size-3);
	}

/* Grid Settings */

	article {
		grid-column: span 10;
		margin: none;
	}

	#colophon{
		grid-column: span 4;
	}

	#separate-text{
		display: flex;
		flex-direction: column; /* Stack children vertically */
		justify-content: space-between; /* Push text to the bottom */
	}

		/* Grid Styles Heading */

	/* #header-1{
		transform: rotate(20deg);
	}
		
	#header-2{
		transform: rotate(-15deg);
	}
		
	#header-3{
		transform: rotate(20deg); */
	}

		/* Grid Styles Body */
/* 
	.basic:nth-child(3),:nth-child(6),:nth-child(7){
		grid-column: span 8;
	}

	.basic:nth-child(4),:nth-child(5),:nth-child(9),:nth-child(10),:nth-child(11){
		grid-column: span 4;
	}

	.basic:nth-child(12){
		grid-column: span 8;
	} */
