
	/* Font Settings */


	/* Grid Settings */

	
	/* Grid Styles Heading */
	
#header-1{
	background-color: var(--dark-chartreuse);
	transform: rotate(5deg);
	font-size: 200px;
	border: 1px var(--black) solid;
}
	
#header-2{
	background-color: var(--dark-red);
	transform: rotate(-5deg);
	border: 1px var(--black) solid;
}
	
#header-3{
	background-color: var(--dark-blue);
	transform: rotate(5deg);
	border: 1px var(--black) solid;
}

	/* Grid Styles Body */
	
.basic:nth-child(5){
	background-color: var(--light-blue);
	transform: rotate(-10deg);
	transform-origin: center;
	position: sticky;
	top: 10px;
}

.basic:nth-child(5):hover{
	transform: rotate(-15deg);
}

.basic:nth-child(9){
	background-color: var(--light-pink);
	transform: rotate(15deg);
	transform-origin: center;
}

.basic:nth-child(10){
	background-color: var(--light-orange);
	transform: rotate(-15deg);
	transform-origin: center;
}

.basic:nth-child(11){
	background-color: var(--light-blue);
	transform: rotate(15deg);
	transform-origin: center;
}
	
	/* Nav Settings */
	

	/* Info Settings (Below Header) */

	
	/* Media Queries */
	
@media (min-width: 1080px) {

		/* Grid Styles Heading */

	#header-1{
		transform: rotate(20deg);
	}
		
	#header-2{
		transform: rotate(-15deg);
	}
		
	#header-3{
		transform: rotate(20deg);
	}

		/* Grid Styles Body */

	.basic:nth-child(3),:nth-child(6),:nth-child(7){
		grid-column: span 8;
	}

	.basic:nth-child(4),:nth-child(5),:nth-child(9),:nth-child(10),:nth-child(11){
		grid-column: span 4;
	}

	.basic:nth-child(12){
		grid-column: span 8;
	}
}