
	/* Font Settings */


	/* Grid Settings */

	
	/* Grid Styles Heading */
	
#header-1{
	background-color: var(--dark-blue);
	transform: rotate(5deg);
	border: 1px var(--black) solid;
}
	
#header-2{
	background-color: var(--dark-orange);
	transform: rotate(-5deg);
	border: 1px var(--black) solid;
}
	
#header-3{
	background-color: var(--dark-pink);
	transform: rotate(5deg);
	border: 1px var(--black) solid;
}

	/* Grid Styles Body */
	
	#quotation:nth-child(6){
		background-color: var(--light-yellow);
		transform: rotate(-10deg);
		transform-origin: center;
		top: 10px;
		animation: rotate 4s ease-in-out infinite;
	}
	
	@keyframes rotate {
		0% {
		transform: rotate(0deg);
		}
		50% {
		transform: rotate(15deg);
		}
		100% {
		transform: rotate(0deg);
		}
	}
	
	#quotation:nth-child(7){
		background-color: var(--light-red);
		transform: rotate(15deg);
		transform-origin: center;
	}
	
	#quotation:nth-child(12){
		background-color: var(--light-yellow);
		transform: rotate(-15deg);
		transform-origin: center;
	}
	
	#quotation:nth-child(13){
		background-color: var(--light-navy);
		transform: rotate(15deg);
		transform-origin: center;
	}
	
	#quotation:nth-child(14){
		background-color: var(--light-red);
		transform: rotate(-15deg);
		transform-origin: center;
	}
		
		/* Nav Settings */
		
	
		/* Info Settings (Below Header) */
	
		
		/* Media Queries */
		
	@media (min-width: 1080px) {
	
			/* Grid Styles Heading */

		#header-1{
			transform: rotate(10deg);
		}
			
		#header-2{
			transform: rotate(-15deg);
			position: relative;
			right: 400px;
			bottom: 100px;
		}
			
		#header-3{
			transform: rotate(10deg);
			position: relative;
			right: 400px;
		}
	
			/* Grid Styles Body */
	
		#quotation{
			grid-column: span 4;
		}
	
		.basic:nth-child(12){
			grid-column: span 8;
		}
	
		.body-text{
			justify-self: end;
		}
	}