
	/* Font Settings */
h1 {
	font-size: var(--size-4);
}

#h2-pink {
	background-color: var(--light-pink);
}

h2:nth-child(2){
	background-color: var(--light-blue);
}

	/* Nav Color Squares */

#square-5 {
	border: 1px var(--black) solid;
	background-color: var(--dark-blue);
	z-index: 2;
	position: relative;
	bottom: 48px;
	transform: rotate(-5deg);
	z-index: 3;
}

#square-8 {
	border: 1px var(--black) solid;
	background-color: var(--light-pink);
	position: relative;
	left: 16px;
	top: 16px;
	transform: rotate(5deg);
	z-index: 1;
}

	/* Grid Settings */

	
	/* Grid Styles Heading */

@keyframes rotate-left{
	0% {
	transform: rotate(-2deg);
	}
	50% {
	transform: rotate(-5deg);
	}
	100% {
	transform: rotate(-2deg);
	}
}

@keyframes rotate-right {
	0% {
	transform: rotate(2deg);
	}
	50% {
	transform: rotate(5deg);
	}
	100% {
	transform: rotate(2deg);
	}
}
	
#header-1{
	background-color: var(--dark-blue);
	transform: rotate(5deg);
	border: 1px var(--black) solid;
	animation: rotate-right 4s ease-in-out infinite;
}
	
#header-2{
	background-color: var(--dark-orange);
	transform: rotate(-5deg);
	border: 1px var(--black) solid;
	animation: rotate-left 4s ease-in-out infinite;
}
	
#header-3{
	background-color: var(--dark-pink);
	transform: rotate(5deg);
	border: 1px var(--black) solid;
	animation: rotate-right 4s ease-in-out infinite;
}

	/* Grid Styles Body */
	
#quotation:nth-child(6){
	background-color: var(--light-orange);
	transform: rotate(-10deg);
	transform-origin: center;
	top: 10px;
}
	
#quotation:nth-child(7){
	background-color: var(--light-pink);
	transform: rotate(-15deg);
	transform-origin: center;
}

.IOC{
	font-family: "EB Garamond", serif;;
}


		
	/* Nav Settings */


	/* Info Settings (Below Header) */

	
	/* Media Queries */

@media (min-width: 768px) {

	h1{
		font-size: var(--size-7);
	}

}	
	
@media (min-width: 1080px) {

	h1 {
		font-size: calc(var(--size-8)*1.1);
	}

		/* Grid Styles Heading */

	#header-1{
		transform: rotate(3deg);
	}
		
	#header-2{
		transform: rotate(-3deg);
		/* position: relative;
		right: 400px;
		bottom: 100px; */
	}
		
	#header-3{
		transform: rotate(3deg);
		/* position: relative;
		right: 400px; */
	}
		
	/* Grid Styles Body */
	
	#quotation{
		grid-column: span 4;
	}

	.basic:nth-child(12){
		grid-column: span 8;
	}
	
	.body-text{
		justify-self: end;
	}

	.horizontal{
		grid-column: span 4;
	}

	#IOC-1{
		grid-column: span 3;
		background-color: var(--light-blue);
		transform: rotate(15deg);
		transform-origin: center;
	}
	
	#IOC-2{
		grid-column: span 3;
		background-color: var(--light-pink);
		transform: rotate(-15deg);
		transform-origin: center;
	}
	
	#IOC-3{
		grid-column: span 3;
		background-color: var(--light-orange);
		transform: rotate(15deg);
		transform-origin: center;
	}
	
	#IOC-4{
		grid-column: span 3;
		background-color: var(--light-blue);
		transform: rotate(-15deg);
		transform-origin: center;
	}
}



@media (min-width: 1500px) {

	h1{
		font-size: var(--size-9);
	}

}